@media (min-width:1400px) {}
 @media (min-width:1200px) and (max-width:1399) {} /*my default design */
@media (min-width:992px) and (max-width:1199) {}
@media (min-width:768px) and (max-width:991) {}
@media (min-width:576px) and (max-width:767) {}
@media (max-width:575) {}