*{
    margin: 0px;
    padding: 0px;
}
/* manu start */
.manu-part {
    background:#566573  ;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.gap {
    width: 90%;
    background:#283747 ;
    margin: auto;
}
.manus {
    background: #566573 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.manu {
    display: flex;
}
.manu li a {
    font-size: 24px;
    color: white;
    display: block;
    padding: 10px 15px;
    transition: 90ms;
}
.manu li a:hover {
    background: lightslategray;
    color: white;
}
a {
    text-decoration: none;
    color: #000;
}
li {
    list-style: none;
}
.logo h1 {
    font-size: 35px;
    color: white;
}
/* manu end */
body,html {
    height: 100%;
}
::-webkit-scrollbar{
    display: none;
}
.hero-image {
    height: 100%;
    background-image: url(image/bg.jpg);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 20%;
}
.hero-text h1 {
    color: #ffa31a;
    font-size: 35px;
}
.clear{
    clear: both;
}
/* .content-part {
    width: 90%;
    background: #df0000;
    min-height: 500px;
} */
.content-heading {
    width: 800px;
    height: 50px;
    margin: auto;
    padding: 50px 0px;
    box-sizing: border-box;
}
.content-heading h1 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    
    box-sizing: border-box;
}
.content-parent-box {
    width: 100%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.content-box1 {
    
    width: 495px;
    height: 395px;
    background: #000000;
    margin: 30px 55px 30px 100px;
    float: left;
    padding: 5px;
    box-sizing: border-box;

}
.content-box1 img {
    width: 100%;
    height: 100%;
}
.content-box2 {
   
    width: 500px;
    height: 400px;
    background: #ffffff;
    margin: 30px 55px 30px 100px;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    

}
.content-box2 h2 {
    font-size: 28px;
    text-align: center;
   
}
.content-box2 {
    font-size: 18px;
}
.bottom {
    height: 250px;
    background-color: #000000;
    box-sizing: border-box;
    
}
.social i {
    margin: 10px 10px 10px 0px;
    font-size: 50px ;
    
   
}
.social h2 {
    
    font-size: 30px;
    color: #ffffff;
    text-align: left;
   
}
.social {
    margin: 50px 0px 0px 100px;
    box-sizing: border-box;
    float: left;
    background: #000000;
   
    
}
.address {
    width: 300px;
    height: 150px;
    color: #ffffff;
    float: right;
    background: #000000;
    box-sizing: border-box;
    margin: 100px 20px 0px 0px;

}
