* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
:root {
    --primary : #0771b9;
    --secondary : #5bc5f3;
}
body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .top-header {
            border-bottom: 1px solid #e5e5e5;
            padding: 10px 0;
        }

        .logo img {
            height: 40px;
        }

        .search-box {
            position: relative;
            width: 100%;
        }

        .search-box input {
            height: 45px;
            border-radius: 25px;
            padding-left: 20px;
            padding-right: 55px;
        }

        .search-box button {
            position: absolute;
            right: 3px;
            top: 3px;
            bottom: 3px;
            width: 45px;
            border-radius: 50%;
            background: #ff6a00;
            border: none;
            color: #fff;
        }

        .pc-builder-btn {
            background: #ff6a00;
            color: #fff;
            border-radius: 25px;
            padding: 10px 20px;
            font-weight: 600;
            text-decoration: none;
            white-space: nowrap;
        }

        .icon-btn {
            position: relative;
            font-size: 20px;
            color: #333;
            margin: 0 8px;
            text-decoration: none;
        }

        .icon-btn .badge {
            position: absolute;
            top: -6px;
            right: -8px;
            font-size: 10px;
            background: #ff6a00;
        }

        .hotline {
            font-size: 14px;
            line-height: 1.3;
            text-align: right;
            white-space: nowrap;
        }

        .hotline span {
            color: #ff6a00;
            font-weight: 600;
        }

        @media (max-width: 992px) {
            .hotline {
                display: none;
            }
        }