* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
:root {
    --primary : #0771b9;
    --secondary : #5bc5f3;
}
